<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }} | {{ metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{%- css %}{% include "assets/css/style.css" %}{% endcss %}
		{#- Or add from node_modules #}

		<link rel="stylesheet" href="/assets/css/prism-theme.css" />

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>

    <link
      rel="preload"
      href="/assets/fonts/ibm-plex-mono/ibm-plex-mono-Medium.ttf"
      crossorigin
      as="font"
      type="font/ttf"
    />
    <link
      rel="preload"
      href="/assets/fonts/ibm-plex-sans/ibm-plex-sans-Medium.ttf"
      crossorigin
      as="font"
      type="font/ttf"
    />

    <script defer data-domain="jlinden.nl" src="https://analytics.jlinden.nl/js/script.js"></script>
  </head>

  <body class="bg-yellow overflow-y-scroll">
    <a class="left-0 top-0 fixed transform -translate-x-full focus:translate-x-0 z-50 flex items-center focus:ml-10 mt-12 px-4 h-14 bg-red rounded-2xl text-white overflow-hidden border-2 border-black" href="#content">
      Skip to content
    </a>

    {{ content | safe }}

    <script async defer type="module" src="/assets/js/scroll.js"></script>
    <script async defer type="module" src="/assets/js/navigation.js"></script>
  </body>
</html>
