---
layout: page.njk
---

<div class="max-w-3xl mt-content-offset mx-auto mb-4">
  <header class="scroll-resize mb-4 mx-4">
    <h1 class="w-full mb-2 text-4xl md:text-5xl font-mono text-white drop-shadow-bold break-word">{{ title }}</h1>
    <h2 class="text-black">{{ abstract }}</h2>
  </header>

  <ul class="w-full flex flex-wrap justify-between">
    {% for item in collections[collection] %}
    <li class="my-4 mx-4 w-full bg-white rounded-lg shadow-bold overflow-hidden border border-black">
        <a href="{{ item.url }}" class="flex">
          <div class="w-24 flex">
              {% if item.data.image %}
              <img src="{{ item.data.image }}" alt="" class="aspect-square object-cover bg-teal border-r border-black">
              {% endif %}
          </div>
          <div class="p-2">
              <h3 class="text-2xl font-mono">{{ item.data.title }}</h3>
              <p class="text-black">{{ item.data.abstract }}</p>
          </div>
        </a>
    </li>
    {% endfor %}
  </ul>
</div>