---
layout: page.njk
---

<div class="max-w-3xl mt-content-offset mx-auto mb-4">
  <header class="scroll-resize mb-4 mx-4">
    <h1 class="w-full mb-2 text-4xl md:text-5xl font-mono text-white drop-shadow-bold break-word">{{ title }}</h1>
    <h2 class="text-black">{{ abstract }}</h2>
  </header>

  {% include 'components/collection.njk' %}
</div>