---
layout: base.njk
---

<div class="p-4 w-full h-screen absolute top-0 scroll-resize">
  <div class="bg-teal rounded-xl w-full h-full flex"></div>
</div>

{% include 'components/navigation.njk' %}

<div class="mx-4 sm:mx-8 relative">
  {{ content | safe }}
</div>
