---
layout: page.njk
---

<article class="max-w-3xl mx-auto bg-white shadow-bold p-4 rounded-lg border-2 border-gray">
  <header>
    <h1 class="text-5xl font-mono mb-2">{{ title }}</h1>
  </header>

  <section>{{ content | safe }}</section>
</article>
