---
layout: page.njk
---

<article class="min-h-screen max-w-3xl mt-96 mx-auto mb-4">
  <header class="scroll-resize mb-4 mx-4">
    <h1 class="w-full mb-2 text-4xl md:text-5xl font-mono text-white drop-shadow-bold break-word">{{ title }}</h1>
    <h2 class="text-black">{{ abstract }}</h2>
  </header>

  <section class="bg-white sm:shadow-bold p-4 mx-4 rounded-lg border-0 border-black">{{ content | safe }}</section>
</article>
