<ul class="flex justify-center items-center space-x-4">
  <li>
    <a href="https://indieweb.social/@jasper">
      <img
        aria-hidden="true"
        focusable="false"
        role="img"
        src="/assets/icons/mastodon.svg"
        class="h-8"
        height="32"
        width="32"
      />
    </a>
  </li>
  <li>
    <a href="https://github.com/jappe999">
      <img
        aria-hidden="true"
        focusable="false"
        role="img"
        src="/assets/icons/github.svg"
        class="h-8"
        height="32"
        width="32"
      />
    </a>
  </li>
</ul>
