<ul class="flex justify-center items-center space-x-4 exclude-styling">
  <li>
    <a
      href="https://indieweb.social/@jasper"
      target="_blank"
      rel="noopener noreferrer"
      class="exclude-styling"
      aria-label="Open Mastodon"
      title="Mastodon"
    >
      <img
        aria-hidden="true"
        focusable="false"
        role="img"
        src="/assets/icons/mastodon.svg"
        class="h-8"
        height="32"
        width="32"
      />
    </a>
  </li>
  <li>
    <a
      href="https://github.com/jappe999"
      target="_blank"
      rel="noopener noreferrer"
      class="exclude-styling"
      aria-label="Open GitHub"
      title="GitHub"
    >
      <img
        aria-hidden="true"
        focusable="false"
        role="img"
        src="/assets/icons/github.svg"
        class="h-8"
        height="32"
        width="32"
      />
    </a>
  </li>
</ul>
