---
title: Home
layout: page.njk
collection: posts
---

<div class="w-full max-w-3xl min-h-screen mx-auto">
  <section
    class="flex flex-col items-center justify-end w-full h-screen scroll-resize"
  >
    <div
      class="absolute top-0 flex flex-col items-center justify-center h-full mx-4 md:flex-row-reverse"
    >
      <img
        src="/assets/images/profile.jpg"
        alt=""
        height="250"
        width="250"
        class="w-48 mx-auto border-2 border-black rounded-full shadow-bold aspect-square md:w-64"
      />
      <h1
        class="mt-12 font-mono text-4xl text-center text-white md:text-5xl drop-shadow-bold md:mt-0 md:text-left"
      >
        I create cool stuff on the web.
      </h1>
    </div>

    <div
      class="flex flex-col mb-12 scale-75 cursor-pointer drop-shadow-light md:scale-100"
      id="scroll-down"
    >
      <img
        src="/assets/icons/scroll.svg"
        alt="Scroll down"
        height="50"
        width="30"
      />
      <span class="mx-auto mt-2 text-4xl" id="scroll-down-arrow">
        &downarrow;
      </span>
    </div>
  </section>

  <section class="max-w-3xl min-h-screen mx-auto">
    <h2 class="mx-4 mb-4 font-mono text-5xl text-black">Recent stuff</h2>

    {% include 'components/collection.njk' %}
  </section>
</div>
