@tailwind base;
@tailwind components;

@font-face {
	font-weight: 400;
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-display: swap;
	src: url('/assets/fonts/ibm-plex-mono/ibm-plex-mono-Medium.ttf');
}

@font-face {
	font-weight: 400;
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-display: swap;
	src: url('/assets/fonts/ibm-plex-sans/ibm-plex-sans-Medium.ttf');
}

.scroll-resize {
  will-change: transform;
}

@tailwind utilities;
